.App {
  flex-flow: row;
  align-content: space-between;
}



.answer {
  background: chocolate;
  color: white;
  border: 1px;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.answer:hover {
  background: coral;
}

.answerList {
  text-align: left;
}

.questionAndAnswers {
  border-style: solid;
  box-shadow: #282c34;
}

.timer {
  color: blue;
  font-size: 20pt;
  text-align: right;
}

.linkToHighScores {
  color: blue;
  font-size: 20pt;
  text-align: left;
  text-decoration: underline;
}

.linkToHighScores:hover {
  cursor: default;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
